/* ======================================================
   OEFENEN MET FLEXBOX
========================================================= */

.one {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.two {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.three {
    border: 1px solid coral;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.three ul {
    border: 1px solid blue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
}

.three div {
    display: flex;
    justify-content: flex-end;
    border: 1px solid green;
    flex-grow: 5;
}

.three li {
    list-style: none;
}